*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
    min-height: 100vh;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  font-family: Arial, sans-serif;
}

.canvas{
    text-align: center;
}

.boxes{
    margin: 80px;
}
.button{
     width: 2000px;
  height: 1000px;
  /* margin: 20px; */
  background-color: #ffffff;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 8px 24px rgba(51, 51, 51, 0.12);
  border: 1px solid #e5e7eb;
  margin-right: 10px;

    
}
h1{
     margin-bottom: 10px;
}
h2 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
}

#grey{
    background-color: grey;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}